
.page-footer {
    background-color: #167ac6 !important;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px)
{
    header, main, footer {
        padding-left: 20px !important;
    }
}

/* Codigo necesario para que el footer quede al final - JN */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
/* Fin del codigo necesario para el footer */

/* Inicio para los colores de las pestañas */
.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #039be5 !important;
}

.tabs .indicator {
    background-color: #039be5 !important;
}

.tabs .tab a {
    color: #039be5 !important;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(3, 152, 226, 0.1) !important;
}
/* Fin para los colores de las pestañas */

/* Botoneria */
.btn-primary {
    background-color: #039be5 !important;
}

.btn-danger {
    background-color: #e85d63 !important;
}

/* Boton flotante */
.btn-flotante {
    position: absolute;
    margin: -30px 0px 0px 60%;
}
